<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira pagina em flex</title>
</head>

<body>
    <h1>Olá Flask</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Repudiandae commodi velit nam rem non exercitationem expedita eaque repellat, adipisci molestiae veritatis
        facere,
        ab veniam quidem architecto voluptatibus maiores possimus fuga.</p>

    <form action="" method="post">
        <label for="nr_cnpj">CNPJ</label>
        <input type="text" placeholder="Digite o CNPJ">
        <label for="nm_razaoSocial">Razão Social</label>
        <input type="text" placeholder="Digite o nome da Razão">
        <label for="pais">Pais</label>
        <input type="text" placeholder="Digite o Pais">
        <label for="email">E-mail</label>
        <input type="text" placeholder="Digite o email">]
    </form>
</body>

</html>